<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--Browser Information-->
      <add key="browser" value="Chrome"/>

      <!--Webdriver Path-->
      <add key="WebDriverPath" value="C:/Driver/">
 
      <!--Environments URLs-->
      <add key="ApplicationUrl" value="https://www.amazon.com/"/>
      
    </appSettings>
</configuration>
